/*
Theme Name: Charitize Child
Theme URI: http://example.com/charitize-child
Description: Child theme to Charitize, a simple & clean WordPress theme for all the Non-Profit Organizations, Non-Profit Associations, Foundations or churches, political parties etc. With lots of customization features, you can easily built a professional website for your organization. This theme supports most of the popular plugins like contact from 7, jetpack, PS sitemap etc.
Author: FFG
Author URI: http://example.com/
Template: charitize
Version: 1.0.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: charitize-child
Tags: two-columns, right-sidebar, custom-background, custom-colors, custom-menu, featured-images, post-formats, sticky-post, translation-ready, theme-options, threaded-comments
*/

/***********************************/
/* This adjusts the font size back to normal size*/
html {
  font-size: 100%;
}

.wrapper-panel {
  background: no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  line-height: 1.4;
  padding-top: 10%;
  padding-bottom: 10%;
  position: relative;
  text-align: center;
  background-repeat: repeat;*/
  width: 100%;
}

.wrapper-panel h2 {
  font-size: 60px;
  font-size: 4rem;
  color: #ffffff;
  text-transform: capitalize;
  /*text-shadow: 0px 0.5px 0.5px #00000059;*/
}

.wrapper-panel .text-content {
  font-weight: 400;
  font-size: 24px;
  font-size: 1.5rem;
  /*text-shadow: 0px 0.5px 0.5px #4e1f1f;*/
}

@media screen and (max-width: 991px) {
  .wrapper-panel h2 {
    font-size: 48px;
    font-size: 3rem;
  }
  .wrapper-panel .text-content {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .wrapper-panel h2 {
    font-size: 24px;
    font-size: 2rem;
  }
  .wrapper-panel .text-content {
    font-size: 16px;
    font-size: 1rem;
  }
}

.wrapper-panel .btn-holder {
  margin-top: 40px;
}

.wrapper-panel .btn-holder a {
  display: inline-block;
}
/***********************************/

/* Header */
/***********************************/
.site-logo {
  height: 120px;
  width: auto;
}

.site-logo-col {
  text-align: center;
}

.main-nav-text-center {
  text-align: center;
}

.main-nav-text-center .nav {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.nav-menu {
  background-color: #fff;
  color: #3a3a3a;
  font-size: 13px;
  font-weight: 500;
}

.navbar-nav > li {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-nav > li > a {
  text-transform: uppercase;
  color: #3a3a3a !important;
}

.nav > li > a:focus {
  background: none;
  color: #f5f5f5 !important;
}

.nav > li > a:hover {
  background: none;
  color: #57a4a4 !important;
}

.nav > li.current > a {
  background: none;
  color: #57a4a4 !important;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover {
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover {
    color: #57a4a4 !important;
    background-color: #fff
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover {
    color: #57a4a4;
    background-color: #fff;
}

.navbar {
  margin-bottom: 0px;
}

.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
    color: #57a4a4;
    background-color: #fff;
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus {
    color: #3a3a3a;
    background-color: #fff;
}

.dropdown-menu>.active>a:hover {
    color: #57a4a4;
    background-color: #fff;
}

.dropdown-toggle,
.dropdown-toggle:visited {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: rgb(119, 119, 119);
  content: "";
  height: auto;
  padding: 0;
  position: absolute;
  right: 0;
  text-transform: none;
  top: 0;
  width: auto;
}

.dropdown-toggle:after,
.dropdown-toggle:visited:after {
  border: none;
  border-left-width: 1px;
  color: white;
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 24px;
  left: 1px;
  position: relative;
  width: auto;
}

.dropdown-toggle:hover, .dropdown-toggle:focus, .dropdown-toggle:active,
.dropdown-toggle:visited:hover,
.dropdown-toggle:visited:focus,
.dropdown-toggle:visited:active {
  background-color: transparent;
  color: #FFD52F;
}

.dropdown-toggle:focus,
.dropdown-toggle:visited:focus {
  outline: thin dotted;
  outline-offset: -1px;
}

.dropdown-toggle:focus:after,
.dropdown-toggle:visited:focus:after {
  border-color: transparent;
}

.dropdown-toggle.toggled-on:after,
.dropdown-toggle:visited.toggled-on:after {
  content: "";
  font-family: "FontAwesome";
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      text-align: center;
      color: #1ea2a2;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
      text-align: center;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
      text-align: center;
      color: #1ea2a2;
      background-color: #00000000
  }
}

.navbar-default .navbar-toggle {
    border-color: #57a4a4;
    background-color: #57a4a4;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #57a4a4;
}
/***********************************/

/***********************************/

/* About Us */
/***********************************/
.wrapper-about-us h3 {
  font-size: 24px;
  font-size: 2rem;
  color: #ffffff;
  text-transform: capitalize;
  font-family: serif;
  background: #00000080;
}
/***********************************/


.thumb-overlay {
  background: rgba(0, 0, 0, 0.5);
}